<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JLR Application Test Automation Test Suite">

	<listeners>
		<listener class-name="ExtentReports.ExtentReporterNG" />
	</listeners>


	<test name="JLR Test Cases">
		<classes>
			<class name="HomePage.HomePageVerification"></class>
			<class name="Footer.FooterLinkVerification"></class>

		</classes>
	</test>
</suite>